
<div style="font-size: 1.4em; font-family: sans-serif; text-align: center;width: 100%;">
  <mat-button-toggle-group name="modeSwitch" aria-label="Controller Mode" style="width: 100%">
    <mat-button-toggle value="PREP" style="width: 25%" checked="true">Preparing</mat-button-toggle>
    <mat-button-toggle value="MASH" style="width: 25%">Mash/Sparge</mat-button-toggle>
    <mat-button-toggle value="BOIL" style="width: 25%">Boil</mat-button-toggle>
    <mat-button-toggle value="COOL" style="width: 25%">Cooling</mat-button-toggle>
  </mat-button-toggle-group>
</div>
