<script src="node_modules/chart.js/src/chart.js"></script>
<div style="left: 50px;width: calc(100% - 100px);border: 1px solid black;">
<mat-grid-list cols="4" rowHeight="2:3">
  <mat-grid-tile colspan="3" ><app-graph></app-graph></mat-grid-tile>
  <mat-grid-tile style="border: 1px solid black;">Load</mat-grid-tile>

  <mat-grid-tile><app-gauges thermo="herms"></app-gauges></mat-grid-tile>
  <mat-grid-tile><app-gauges thermo="flow"></app-gauges></mat-grid-tile>
  <mat-grid-tile><app-gauges thermo="mash"></app-gauges></mat-grid-tile>
</mat-grid-list>

</div>
