<div style="display: float">
  <div style="text-align: center;font-size: 2em; font-family: sans-serif;">
    {{thermo}}
  </div>
  <canvas baseChart style="width:100%;height:100%;margin: 0px;padding: 0px;"
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              [options]="doughnutChartOptions"
              [colors]="doughnutChartColors"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>

  <div style="position: absolute; top: 60%; left: 50%; font-size: 4em; font-family: sans-serif; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
    {{thermoData[thermo][0]}}
  </div>
</div>
